@charset "UTF-8";
/* CSS Document */

*{margin: 0; padding: 0}

html{
	height: 100%; width: 100%!important; overflow-x: hidden!important;
}

Body {background-color:#95BCC2;color: white; font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif"; font-size: 1rem; text-align: center}

header {background-color: #95BCC2; padding: 2px; color: white; min-height: 100%; display: flex}


section {text-align: center}

nav a {font-size: 20px; color: white; text-align: right; text-decoration: none; border-radius: 20px; margin-top: 45px; margin-bottom: 0px; margin-left: 0px; margin-right: 40px; background-color: #469AA8; padding-right: 40px; padding-left: 40px; padding-bottom: 8px; padding-top: 8px; display: inline-block}

nav a:hover { color: #ffffff; background-color: #95BCC2; transition: all .5s}

.logo {display: flex}
.logo-img {height: 90px; margin: 12px}

.helado {position: relative}


.cajalogo {position: relative}

.frozis2 {width: 40%; position: absolute; left: 30%; margin-top: -35px}


.navbar{text-align: right; width: 100%}

.contenedor {display: flex}
	
.cajacontenedora {display:block; width: 130%; margin: 1%; margin-left: 0%; padding: 10px; box-sizing: border-box}
.cajacontenedora h2 { color: white; padding: 10px; font-size: 20px}
.cajacontenedora p { color: black; margin: 10px; font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, 'sans-serif'; font-size: 18px}


.cajacontenedora2 {display: flex; flex-flow: row}
.cajacontenedora2 div { width: 100%; box-sizing: border-box; border: none; padding: 32px}
.cajacontenedora2 img { width: 100%; grid-area: foto}
.cajacontenedora2 p { color: black; margin: 10px; font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, 'sans-serif'; font-size: 18px}


.info {color:white; font-size: 20px; text-align: left; background-color:#469AA8; padding: 10px; padding-bottom: 5px; margin-top: 7px; font-family: Constantia, 'Lucida Bright', 'DejaVu Serif', Georgia, 'serif'}
.info2 {text-align: left; color: black; font-size: 18px; padding: 10px}

.info3 {text-align: center; color: black; font-size: 18px; font-family: "alex-brush"}


.info4 {color:white; font-size: 20px; text-align: left; background-color:#469AA8; padding: 10px; margin: 10px; font-family: Constantia, 'Lucida Bright', 'DejaVu Serif', Georgia, 'serif'}


.infoo {color:white; font-size: 20px; text-align: left; background-color:#469AA8; padding: 10px; padding-bottom: 5px; margin-top: 7px; font-family: Constantia, 'Lucida Bright', 'DejaVu Serif', Georgia, 'serif'; margin: 10px}



.caja3 {display: flex; height: 60px}
.caja3 div {width: 100%; background-color: darkgray; text-align: center; padding: 3px}
.caja3 div.conta {text-align: right}


.insta {width: 9%; padding-top: 11px}
.face {width: 9%;padding-top: 11px}
.tel {width:10%; padding-top: 8px} 

.foot {padding-top: 15px; font-size: 20px; color: black} 




* {
  box-sizing:border-box;
  scroll-behavior: smooth;
}


.container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.elementoCarousel {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {left: 0; border-radius: 3px 0 0 3px }


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 18px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; margin-bottom: 40px;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#myBtn {
  display: none; /* Esconder por default */
  position: fixed; /* Position */
  bottom: 3%;
  right: 4%; 
  z-index: 99; /* Que nada se superponga */
  border: none; 
  outline: none; 
  background-color: rgb(208, 2, 2);
  color: #f2f2f2; 
  cursor: pointer; 
  padding: 1rem;
  border-radius: 10px;
  font-size: 1.1rem;
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}




form {
    max-width: 80%;
    margin: auto; margin-top: 20px;
    border: 1px solid black;
    padding: 30px; background-color: #469AA8
}
form strong {
    width: 160px;
    float: left; 
}
form input, select, textarea {
    width: 60%; padding: 4px; border-radius: 4px; border: 1px solid black; box-sizing: border-box; margin: 5px;
}
form input[type=checkbox] { width: 20px;}
.campocorto { width: 20px;}
form input[type=submit] { width: 240px; padding: 20px; margin-top: 25px; text-align: center; background-color: #95BCC2; color: darkblue; font-size: 16px; font-weight: bold; text-transform: uppercase;}
::placeholder { opacity: 0;}


iframe {margin: 20px}


.cajagaleria {text-align: center; margin-bottom: 50px;}
.cajagaleria a {}
.cajagaleria img {width: 250px;  margin-top: 10px;}

	
.foto {display: inline-block; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.10); padding: 15px; border-radius: 30px;margin: 40px;}

.te {width: 100%; align-self: center; color: black; background-color: aliceblue;  padding: 5px; padding-left: 0px; padding-right: 0px;text-align:center;}

.tex {width: 80%; text-align: center; margin-left: 110px}

.foto:hover {box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 1); transition: all .5s}
	
.pedidofot {width: 80%; margin-top: 20px; margin-bottom: 20px}

.cajagaleria1 {text-align: center; display: inline-flex}


	
@media screen and (max-width: 950px) {
	
	nav a {margin-right: 5px; margin-left: 5px}
	
	.info {font-size: 20px; margin: 10px}
	.info2 {font-size: 15px}
	
	.infoo {font-size: 20px; margin: 10px}
	
	.contenedor {display: contents}
	
	.cajacontenedora {display: contents}
	
	.cajacontenedora2 {display: flex; width: 100%}
	
	
	.frozis2 {width: 50%; position: absolute; margin-top: -85px; margin-left: -30px}
	
	
	.helado{width: 100%}
	
	
	.insta {width: 16%; padding-top: 12px}
    .face {width: 16%;padding-top: 12px}
    .tel {width:18%; padding-top: 11px} 
	
	
	.foot {padding-top: 16px} 
	
	.container {margin: 10px}
	
	.dot {display: none}
	
	.prev,.next {top: 48%}
	
	.text {top: 50%; position: relative; font-size: 20px}

	
	.cajagaleria img {width: 100%}
	.te {width: 100%;}
	
	.cajagaleria1 {text-align: center; display: block; width: 100%}
	
	.cajagaleria1 img {width: 100%}

	
} 


@media only screen and (max-width: 800px) {


	 .navbar {flex-direction: row; text-align: center;  display: block; margin-bottom: 15px; margin-top: 0px}
	
	nav a {width: 100%; text-align: center; margin: 10px; margin-left: 0px; margin-right: 0px}
	

	
	.helado{width: 100%}

	
	.cajacontenedora {width: 100%; display: block; flex-flow: wrap}
	
	.cajacontenedora2 { display: block; flex-flow: wrap; width: 80%; margin-left: 50px}
	

	
	
	.icono {display: block; color: white; font-size: 20px}
	
	.frozis2 {width: 50%; position: absolute; margin-top: -50px; margin-left: -30px}
	
	
	.container {margin: 10px; margin-bottom: 0px}
	
	
    .insta {width: 23%; padding-top: 14px}
    .face {width: 22%;padding-top: 15px}
    .tel {width: 25%; padding-top: 14px} 
	

	.foot {padding-top: 8px; font-size: 18px; color: black} 
	
	
	.dot {display: none}
	
	.prev,.next {top: 45%}
	
	.text {top: 50%; font-size: 18px}

	.cajagaleria img {width: 100%}
	.te {width: 100%; text-align: center}
	
	.pedidofot {width: 95%}
	
	.cajagaleria1 {text-align: center; display: block; width: 100%}
	
	.cajagaleria1 img {width: 100%}

	

	
	
	}
	

    
	




